:root{
    --primary-color: #000000;
    --secondary-color: #E9E9E9;
    --text-muted-color: #555555;
    --bold-font-weight: 700;
    --regular-font-weight: 400;
    --light-font-weight: 300;
    --font-family-base: 'Cabinet Grotesk', sans-serif;
    --font-family-alt: 'Noto Sans', sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
    width: 0px;
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
    background-color: #E9E9E9;
    color: #000000;
    line-height: 1.6;
    width: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.notAligned{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-muted{
    color: #555555;
}

.diff1{
    gap: .3em;
}

.diff2{
    gap: 1em;
}

.diff3{
    gap: 2em;
}

.diff4{
    width: 100%;
}

.jc-c{
    display: flex;
    justify-content: center;
}

.ai-c{
    display: flex;
    align-items: center;
}

.jc-sb{
    display: flex;
    justify-content: space-between;
}

.Icn{
    cursor: pointer;
    min-width: 1em;
    min-height: 1em;
}
main{
    width: 100%;
}
.everything{
    padding: 1.5em 4em;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%) contrast(75%) sepia(30%);
    z-index: 1000;
}
.navigation-home{
    position: sticky;
    padding: 1em 4em;
    z-index: 2000;
    top: 0;
    transition: box-shadow ease-in-out .2s;
    background-color: var(--secondary-color);
}
.logo{
    width: 25px;
    height: 25px;
    transform: scale(1.9);
    margin: 0 0 0 .6em;
}
.mainNav{
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    gap: 4em;
    font-weight: 300;
}
.scrolled{
  width: 100%;
  padding: 1em 1em; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.mainNav a{
    text-decoration: none;
    color: #000000;
    align-items: baseline;
    font-weight: var(--regular-font-weight);
    font-size: .9em;
    white-space: nowrap;
}

.headerCallToAction{
    margin-left: 1em;
}

.headerCallToAction .Icn {
    width: 1em;
    height: 1em;
}

.nav-search-searchedProducts{
    flex-wrap: wrap;
    width: 100%;
    overflow-x: scroll !important;
    
}
.search-bar-parent{
    min-width: 300px !important;
    max-width: 400px;
    flex-direction: row-reverse !important;
    background-color: #ffffff;
    border-radius: 20px;
    padding: .6em .6em .4em .4em;
    width: 100%;
}

.search-bar-parent .search-bar{
    width: 90%;
}

.search-bar-parent .search-bar input{
    width: 100%;
    border: none;
    outline: none;
    font-size: .9em;
    font-size: smaller;
    font-weight: var(--light-font-weight);
    color: var(--text-muted-color);
}
.drop-down-scrollPrnt{
    width: 100%;
    overflow-x: hidden;
}
.drop-down-parent{
    width: 15%;
    min-width: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: .4em .6em .4em .8em;
}

.drop-down-parent .drop-down-current-text{
    font-size: .9em;
    font-size: smaller;
    font-weight: var(--light-font-weight);
    color: #000000;
}

.drop-down-parent .Icn {
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #F2F2F2;
}

.trendingAndSearched-parent{
    display: flex;
    overflow-x: scroll !important;
    justify-content: flex-start;
}

.trendingAndSearched{
    font-size: small;
    font-weight: var(--regular-font-weight);
    background-color: #ffffff;
    flex: 0 0 auto;
    border-radius: 20px;
    padding: .4em .7em;
}

section.mainSection{
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 1.5em;
}

section.mainSection section.mainSection-main{
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    padding: .4em .6em;
    background-color: #ffffff;
    border-radius: 32px;
    font-size: clamp(1.8rem, 4vw, 2.9rem);
    font-weight: var(--bold-font-weight);
    width: calc(50% - 0.75em);
    min-width: 320px;
    flex: 1 1 45%;
}
section.mainSection-main div.mainSection-main-text {
    width: auto;
    letter-spacing: -.01em;
    word-spacing: -.01em;
    line-height: 1.2;
}

section.mainSection-main div.mainSection-main-text .masked-word{
  font-weight: 900;
  background: url('/frontend/res/newPro.avif') center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


section.mainSection-main div.mainSection-main-tagline {
    margin-bottom: 1em;
    margin: 0 auto;
    max-width: 230px;
    font-size: clamp(0.75rem, 1.5vw, 0.9rem);
    font-weight: var(--regular-font-weight);
    color: var(--text-muted-color);
    line-height: 1.5;
}

section.mainSection-main div.mainSection-main-cta {
    margin-top: -.5em;
}

section.mainSection-main div.mainSection-main-cta div.cta-button {
    position: relative;
    width: fit-content;
    font-size: clamp(0.85rem, 1.8vw, 1rem);
    font-weight: var(--regular-font-weight);
    padding: .5em 1.6em;
    border-radius: 32px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

section.mainSection-main div.mainSection-main-cta div.cta-button::after{
    position: absolute;
    right: -6px;
    background-color: #000000;   
    content: '';
    display: block;
    width: 12px;
    height: 8px;
}

section.mainSection div.mainSection-main-cta div.cta-button::before{
    position: absolute;
    right: -35px;
    border-radius: 50%;
    width: 30px;
    flex: 0 0 auto;
    height: 30px;
    background-color: #000000;
    content: '';
    display: block;
}

.lucide-arrow-down-right-icon{
    position: absolute;
    right: -16px;
}

section.mainSection .mainSection-main-clientReviews{
    margin-top: -1em;
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    font-weight: var(--regular-font-weight);
    color: var(--text-muted-color);
    flex-wrap: wrap;
    gap: 1em;
}

section.mainSection .mainSection-main-clientReviews .reviewText{
    font-weight: var(--bold-font-weight);
    color: var(--text-muted-color);
}

section.mainSection .mainSection-main-clientReviews .reviewSubText{
    font-size: clamp(0.7rem, 1.2vw, 0.85rem);
    color: #000000;
}

.clientProfiles{
    display: flex;
}

.profileImg{
    font-family: "Cabinet Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    font-weight: var(--bold-font-weight);
    height: 2.5em;
    border-radius: 50%;
    color: #ffffff;
    margin-left: -.6em;
    border: 4px solid #ffffff;
}

.clientProfiles .profileImg:first-child {
    margin-left: 0; 
}

section.mainSection section.mainSection-Img_Video-Prnt{
    width: calc(50% - 0.75em);
    min-width: 320px;
    display: flex;
    flex: 1 1 45%;
    border-radius: 32px;
    overflow: hidden;
    background-color: #ffffff;
}

section.mainSection section.mainSection-Img_Video-Prnt .mainSection-Img_Video-Media{
    width: 50%;
    height: 340px;
    position: relative;
    object-fit: cover;
    padding: 4em 2em;
    display: flex;
    z-index: 8;
}
section.mainSection section.mainSection-Img_Video-Prnt .mainSection-Img_Video-Media::before {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    opacity: .5;
    width: 150px;
    max-width: 340px;
    z-index: -1;
    height: 65%;
    
    border-radius: 64px 64px 0 0;
}
section.mainSection-Img_Video-Prnt .mainSection-Img_Video-Media img{
    height: 100%;
    margin-left: .57em;
    transform: scale(1.5);
}
.animateTxt span {
    display: inline-block;
    opacity: 0;
    animation: 
    text-focus-in 1s ease forwards,
    scale-in-tl 0.5s ease forwards;
}
.mainSection-overlayText{
    font-weight: var(light-font-weight);
    color: var(--text-muted-color);
    font-size: medium;
    margin-right: 1em;
    letter-spacing: .3em;
    margin-bottom: 20vh;
    text-transform: uppercase;
}